@import "tailwindcss";

/* helpers simples */
html,
body,
#root {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
@keyframes soft-blink {
  0%,
  100% {
    opacity: 1;
    text-shadow: 0 0 2px rgba(139, 227, 242, 0.3);
  }
  50% {
    opacity: 0.7;
    text-shadow: 0 0 8px rgba(139, 227, 242, 0.55);
  }
}

@keyframes color-blink {
  0%,
  100% {
    color: #8be3f2;
    text-shadow: 0 0 3px rgba(139, 227, 242, 0.35);
  }
  50% {
    color: #a9f8ff; /* cor mais vibrante no pico */
    text-shadow: 0 0 10px rgba(169, 248, 255, 0.65);
  }
}
